.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 16px;
  background-color: #264259;
  color: white;
}

.navbar-title {
  font-size: 1.2rem;
  font-weight: bold;
}

.navbar-user {
  display: flex;
  align-items: center;
  gap: 12px;
}

.navbar-user img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.arrow {
  font-size: 1rem;
}
