.tratamento-button {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 5vh;

  padding: 1rem;

  background-color: #0047ff;
  color: white;

  border: none;
  border-radius: 4px;
  
  text-align: center;
}

.tratamento-button span {
  font-size: 1.3rem;
}

.tratamento-button:disabled {
  background-color: #d2d2d2bc;
  color: #a3a3a3;
  cursor: not-allowed;
}
