.enviar-fotos-demanda-modal-container {
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  min-height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 999;
}

.enviar-fotos-demanda-modal-content {
  display: flex;
  min-width: 100%;
  min-height: 80%;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
}

.enviar-fotos-demanda-modal {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  width: 90%;
  max-height: 80%;
  min-height: 10vh;
  padding-bottom: 1rem;
  overflow: hidden;
}

.enviar-fotos-demanda-modal-header {
  background-color: #0077ff;
  position: sticky;
  top: 0;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.05rem 1rem;
  border-bottom: 1px solid #ccc;
}

.enviar-fotos-demanda-titulo {
  color: #ffffff;
  width: fit-content;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
  flex: 1;
  text-align: center;
}

.enviar-fotos-demanda-close {
  color: #ffffff;
  font-size: 2.5rem;
  line-height: 1;
  padding-bottom: 1px;
  margin-left: auto;
}

.enviar-fotos-demanda-nenhum-registro {
    font-size: 1.3rem;
    font-family: Arial, Helvetica, sans-serif;
}