.registros-demanda-fotos {
  display: block;
  margin: auto;
  width: 100%;
  max-height: calc(75vh - 80px);
  object-fit: contain;

  background-color: #f7f7f7;
}

.registros-demanda-modal-container {
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  min-height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 999;
}

.registros-demanda-modal-content {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
}

.registros-demanda-modal {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  width: 90%;
  max-height: 95%;
  min-height: 25vh;
  overflow: hidden;
}

.registros-demanda-modal-header {
  background-color: #0077ff;
  position: sticky;
  top: 0;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.05rem 1rem;
  border-bottom: 1px solid #ccc;
}

.registros-demanda-titulo {
  color: #ffffff;
  width: fit-content;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
  flex: 1;
  text-align: center;
}

.registros-demanda-close {
  color: #ffffff;
  font-size: 2.5rem;
  line-height: 1;
  padding-bottom: 8px;
  margin-left: auto;
}

.registros-demanda-nenhum-registro {
    font-size: 1.3rem;
    font-family: Arial, Helvetica, sans-serif;
}

.registros-demanda-enviar-fotos-div {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 1.2rem;
}

.registros-demanda-button-enviar-fotos {
  width: 50%;
  padding: 1rem;
  background-color: rgb(0, 95, 255);
  box-shadow: 3px 4px 0px black;
  color: #ffffff;
  font-size: 1.4rem;
  border: 0px solid #ecf2fc;
  border-radius: 5px;
  cursor: pointer;
}