.evidencias-demandas-fotos {
  display: block;
  margin: auto;
  width: 100%;
  max-height: calc(95vh - 80px);
  object-fit: contain;

  background-color: #f7f7f7;
}

.evidencias-demandas-modal-container {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  min-height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.evidencias-demandas-modal {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  width: 90%;
  max-height: 95%;
  min-height: 25vh;
  overflow: hidden;
}

.evidencias-demandas-modal-content {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
}


.evidencias-demandas-modal-header {
  background-color: #0077ff;
  position: sticky;
  top: 0;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.05rem 1rem;
  border-bottom: 1px solid #ccc;
}

.evidencias-demandas-titulo {
  color: #ffffff;
  width: fit-content;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
  flex: 1;
  text-align: center;
}

.evidencias-demandas-close {
  color: #ffffff;
  font-size: 2.5rem;
  line-height: 1;
  padding-bottom: 8px;
  margin-left: auto;
}

.evidencias-demandas-pdf {
  position: absolute;
  width: 100%;
}
