.visualizar-demanda-modal-container {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.visualizar-demanda-modal {
  display: flex;
  flex-direction: column;
  background-color: #b6b6b6;
  border-radius: 5px;
  width:  90%;
  overflow: hidden;
}

.visualizar-demanda-modal-header {
  background-color: #0077ff;
  position: sticky;
  top: 0;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  border-bottom: 1px solid #ccc;
}

.visualizar-demanda-titulo {
  color: #ffffff;
  width: fit-content;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
  flex: 1;
  text-align: center;
  margin-top: 0.5rem;
}

.visualizar-demanda-close {
  color: #ffffff;
  font-size: 2.5rem;
  line-height: 1;
  padding-bottom: 1px;
}

.printer-icon {
  vertical-align: middle;
  margin-top: 0.5rem;
  margin-left: 0.4rem;
}

.visualizar-demanda-modal-content {
  max-height: calc(95vh - 80px);
  min-height: 50vh;
  background-color: #ffffff;
  overflow-y: auto;
  flex: 1;
  padding: 1rem;
  background-size: contain;
}

.visualizar-demanda-documento {
  width: 210mm !important;
  max-height: 297mm !important;
}

.endereco-demanda strong {
  font-size: 18px;
}