.executar-modal-container {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.executar-modal {
  display: flex;
  flex-direction: column;
  background-color: #b6b6b6;
  border-radius: 5px;
  width:  90%;
  overflow: hidden;
}

.executar-modal-header {
  background-color: #0077ff;
  position: sticky;
  top: 0;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  border-bottom: 1px solid #ccc;
}

.executar-titulo {
  color: #ffffff;
  width: fit-content;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
  flex: 1;
  text-align: center;
  margin-top: 0.5rem;
}

.executar-close {
  color: #ffffff;
  font-size: 2.5rem;
  line-height: 1;
  padding-bottom: 1px;
}

.executar-modal-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-height: calc(95vh - 80px);
  min-height: 50vh;
  background-color: #ffffff;
  overflow-y: auto;
  flex: 1;
  padding: 1rem;
  background-size: contain;
}

.executar-modal-content-inputs {
  display: flex;
  margin-bottom: calc(2vh + 8px);
  flex-direction: column;
  justify-content: space-between;
  gap: calc(2vh + 8px);
}

.executar-modal-button-salvar {
  width: 50%;
  height: 3.5rem;
  font-size: 1.3rem;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  border: 0px solid #ecf2fc;
  border-radius: 8px;
  cursor: pointer;
  background-color: #4caf50;
  color: #ffffff;
}

.executar-modal-button-container {
  display: flex;
  justify-content: center; 
}