.status-dropdown {
  position: relative;
  width: 100%;
}

.status-dropdown-container {
    display: flex;
    flex-direction: column;
}

.status-dropdown-button {
  width: 100%;
  padding: 8px;
  background-color: #ffffff;
  border: 1px solid #999999;
  border-radius: 4px;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #000;
  cursor: pointer;
  transition: background-color 0.2s ease;
  font-size: 1rem;
}

.arrow {
  font-size: 12px;
  margin-left: 8px;
  color: #666;
}

.status-dropdown-menu {
  position: absolute;
  overflow: hidden;
  transform: translateY(-2px);
  left: 0;
  width: 100%;
  background-color: #ffffff;
  border: 1px solid #999999;
  border-radius: 4px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  z-index: 10;
}

.status-dropdown-item {
  padding: 8px;
  font-size: 1rem;
  color: #000;
  border: 0.2px solid #ccc;
  transition: background-color 0.2s ease;
}

.status-dropdown-titulo {
    color: #000000;
}