.historico-demanda-table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  overflow-wrap: break-word;
  font-family: Arial, sans-serif;
  font-size: 0.95rem;
}

.historico-demanda-table thead {
  background-color: #1e3d59;
  color: #ffffff;
}

.historico-demanda-table th {
  text-align: center;
  border-bottom: 2px solid #ccc;
  border: 1px solid black;
}

.historico-demanda-table td {
  padding: 0.25rem;
  border-bottom: 1px solid #ccc;
  text-align: center;
  word-break: break-word;
  white-space: normal;
  border: 1px solid black;
}

.historico-demanda-table tbody tr:nth-child(even) {
  background-color: #d1ebff;
}

.historico-demanda-table tbody tr:nth-child(odd) {
  background-color: #ecf6ff;
}

.historico-demanda-table td:first-child {
  font-weight: bold;
  white-space: nowrap;
}

.td-status {
  font-weight: bold;
  color: #ffffff;
}