.ocorrencia-handler {
    position: absolute;
    background: white;
    padding: 4vw;
    margin: 70% 10%;
    border-radius: 8px;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.1);
    text-align: center;
    font-weight: bold;
    font-size: 1.15rem;
}